@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: bisque;
}

.wrapper{
    width: 430px;
    padding: 30px;
    background-color: aliceblue;
    border-radius: 10px;
}

.wrapper header{
    color: cadetblue;
    font-size: 25px;
    font-weight: 400;
    text-align: center;
}

.wrapper form{
    height: 167px;
    display: flex;
    margin: 30px 0;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 5px;
    border: 2px dashed;
    cursor: pointer;
}

form i{
    font-size: 50px;
}

form p{
    font-size: 16px;
    margin-top: 15px;
}

section .row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #e9f0ff;
    margin-bottom: 10px;
    padding: 15px 20px;
    border-radius: 5px;
}

section .row i{
    font-size: 30px;
}

section .details span{
    font-size: 16px;
}

.uploading .row .content{
    width: 100%;
    margin-left: 15px;
    display: flex;
    align-items: center;
}

.uploading .row .details{
    display: flex;
    margin-left: 15px;
    flex-direction: column;
}


